# Node dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build output
dist/

# Env and local config
.env
.env.local
.DS_Store

# Logs
logs/
*.log

# Editor/IDE
.vscode/
.idea/
*.swp

# Docker
docker-data/

